<div *ngIf="isModalOpen">
  <div class="popup-overlay">
    <div class="popup-content">
      <h2>Register Test Case</h2>
      <form (ngSubmit)="submitRegisterForm()" class="test-register-form">
        <div class="field-group">
          <label for="username">Test Case Name</label>
          <input type="text" id="username" [(ngModel)]="registerData.name" name="username" required />
        </div>
        <div class="modal-actions">
          <button type="button" class="secondary-btn" (click)="closePopup()" aria-label="Close">Close</button>
          <button mat-button type="submit">Submit</button>
        </div>
      </form>
      <div *ngIf="isDataLoading">
        <app-loading [isLoading]="isDataLoading"></app-loading>
      </div>
    </div>
  </div>
</div>