/* For styling the map and suggestions */
#map {
  height: 50vh; /* You can adjust the height */
  width: 100%;
  border: 1px solid #ccc;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.suggestions-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 10px;
}

.suggestions-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions-container li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-container li:hover {
  background-color: #f1f1f1;
}

button {
  margin-top: 10px;
}
