@import '../../theme.css';
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-card);
    color: var(--color-text);
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: var(--color-text);
    text-align: center;
    color: var(--color-primary);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1.1em;
    color: var(--color-primary);
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 1em;
    background: var(--color-bg);
    color: var(--color-text);
}
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  button {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.1em;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background 0.2s;
  }
  
  button:disabled {
    background-color: var(--color-border);
  }
  
  button:hover {
    background-color: var(--color-secondary);
  }
  
  button:disabled:hover {
    background-color: var(--color-border);
  }
  