<!-- home.component.html -->
  <!-- If the user is not connected, show the username input page -->
<div *ngIf="!isConnected" id="username-page">
  <div class="username-page-container">
    <!-- Title of the username page -->
    <h1 class="title">Check Your Username/Email</h1>

    <!-- Form to input the username -->
    <!-- When the form is submitted, it calls the connect() method -->
    <form (ngSubmit)="connect()">
      <div class="form-group">
        <!-- Username input field bound to the username property -->
        <input [(ngModel)]="username" name="username" type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" disabled/>
      </div>

      <!-- Button to submit the username and connect to the chat -->
      <div class="form-group">
        <button type="submit" class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>

<!-- If the user is connected, show the chatroom interface -->
<div *ngIf="isConnected" id="chatroom">
  <div class="chat-container">
    <!-- Chatroom header with title -->
    <div class="chat-header">
      <h2>
        World Chat, Online User Count: 
        <span 
          class="online-count"
          (mouseover)="showOnlineUsers(true)"
          (mouseleave)="showOnlineUsers(false)">
          {{ onlineUsers}}
        </span>
      </h2>
      <div *ngIf="isOnlineUsersVisible" class="online-users-list">
        <ul>
          <li *ngFor="let user of activeOnlineUsers">{{ user }}</li>
        </ul>
      </div>
    </div>
    

    <!-- If a connection message exists, show it (e.g., "Connecting...") -->
    <div *ngIf="connectingMessage" class="connecting">{{ connectingMessage }}</div>

    <!-- Display the list of messages -->
    <div class="chat-messages" id="messageArea">
      <ul>
        <li *ngFor="let message of messages" [ngClass]="{'event-message': message.type !== 'CHAT', 'chat-message': message.type === 'CHAT', 'self': message.sender === username}">
          <i *ngIf="message.type === 'CHAT'" [style.backgroundColor]="getAvatarColor(message.sender)">{{ message.sender.charAt(0) }}</i>
          <span *ngIf="message.type === 'CHAT'">{{ message.sender }}</span>
          <p>{{ message.type === 'CHAT' ? message.content : message.sender + ' ' + (message.type === 'JOIN' ? 'joined!' : 'left!') }}</p>
        </li>
      </ul>
    </div>
    <div class="typing-area" id="typingArea">
      <form (ngSubmit)="send()">
        <div class="form-group">
          <div class="input-group clearfix">
            <input [(ngModel)]="message" name="message" type="text" id="message" placeholder="Write a message..." autocomplete="off" class="form-control" />
            <button type="submit" class="primary">Send</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
<div *ngIf="isDataLoading">
  <app-loading [isLoading]="isDataLoading"></app-loading>
</div>
  